html, body{
  width: 100%;

  background-color: gray;

}
.x{
  overflow-y: hidden;
}
@media screen and (max-width:750px){
.esconde{
  display: none;
}
}
.esconde{
  display: block;
}
.center{
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial,sans-serif;
  text-align: center;
}
.wrapper{
  display: none;
}
.large{
  width: 100%;
}
.geral{
  min-height:100%;
	position:relative;
background-image: -webkit-linear-gradient(to bottom, #0ed600 0%,#32af21 50%,#0d6600 100%);
background-image: -o-linear-gradient(to bottom, #0ed600 0%,#32af21 50%,#0d6600 100%);
background-image: linear-gradient(to left, rgba(17,130,8,1) 0%,#32af21 50%,#0d6600 100%);
  background-repeat:no-repeat;
}

section article{
  color: white;
  background-color: black;
  transition:  background-color .3s ease-in-out;
}
article a{
  margin: 5px 0 0 0;
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: center;
}
.boto{
  width: 60%;
  height: 60px;
  background-color: #0d6600;
  border-radius: 40px;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
  text-decoration: none;
  box-shadow: ;
  transition:  box-shadow .3s ease-in-out;
}
.boto:hover{
  box-shadow: 3px 6px 7px #888888;
}
.boto p{
  padding: 15px 0 0 1px;
  font-weight: 500;
  font-size: 18px;
}
.boto2{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  background-color: aliceblue;
}
article a:hover{
  text-decoration: none;
  color: white;
}
.left{
  text-align: center;
  border: 2px solid grey;
  filter:blur(.5px);
}
.left:hover {
    background-color: #282829;
}
.left:hover .line{
    width: 120px
}
.line{
  width: 320px;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, white 50%, rgba(0, 0, 0, 0) 100% );
  margin: 0px auto;
  transition:  width .4s ease-in-out;
}
.right{
  text-align: center;
  border: 2px solid grey;
}
.right:hover{
background-color: #282829;
}
.right:hover .line{
    width: 120px
}
.flexb{
  display: flex;
  justify-content:flex-start;
  align-items:center;
  text-decoration: none;

}
.flexb a{
  margin: 0 35px 0 0;
}
.flexc{
  text-align: center;
}
h2:hover{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.white{
  background-color: white;
}
.mid{
  text-align: center;
}
.verd{
  background-color: green
}
